:root{
  --BackgroundColour: black;
  --PrimaryTextColour: #FFFFFF;
  --SecondaryTextColour: #D9171F;
  --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
}

/* Light Mode */
#projects.light{
  background-color: white;
}

#projectsContainer.light{
  background-color: white;
}

#projectsHeading.light{
  color: black;
}

#projectName.light{
  height: 100%;
}

.listBox.light{
  width: 100%;
  height: 100%;
}

#contentContainer.light{
  color: black;
  box-shadow: 5px 5px 3px rgba(217, 23, 31, 1);
  background-color: #ebebeb;
}

#number.light{
  color: rgba(0, 0, 0, 0.6);
}

#linkBtn.light{
  top: 150px;
}

/* Main CSS */

#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 900px;
  background-color: black;
}

/* Projects Containers  */
#projectsContainer{
  margin-top: 5.6rem;
  width: 95%;
  max-width: 100%;
  height: 800px;
  background-color: black;
  color: white;
}

#projectsRed{
  color: var(--SecondaryTextColour);
}

.listBox{
background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 5px 5px 3px rgba(217, 23, 31, 1);
}

/* Name of Containers (visable when unactive) */
#projectName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

#letter{
  outline: none;
  border: none;
}

.letter{
  height: 60px;
  display: inline-block;
  background-color: transparent;
  text-shadow: 4px 5px 6px rgba(217, 23, 31, 1);
  border-radius: 50px;
  outline: none;
  border: none;
}

#projectName > * {
  display: block;
  margin: 5px 0; /* Adjust the spacing between letters as needed */
}

#number{
  color: rgba(217, 255, 255, 0.10);
  font-size: 75px;
}

/* Explore Button */

#linkBtn{
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 3px rgba(217, 23, 31, 1);
  width: 170px;
  height: 50px;
  position: relative;
  left: -40%;
  border-radius: 10px;
}

/* Media Queries */

/* Mobile View */
@media screen and (max-width:428px){
  #projects{
      max-width: 100%;
      margin-top: -5px;
  }
  #projectsContainer{
    max-width: 90%;
    #websiteImg{
      left: 35%;
      height: 40px;
      width: 80px;
  }
  #projectName {
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
  }
  #number{
    font-size: 25px;
  }
  #websiteImg{
    top: 50%;
}
  #linkBtn{
    left: 10%;
    top: 410%;
    width: 60px;
    height: 28px;
    font-size: 10px;
  }
  }
}

/* Tablet View */
@media screen and (max-width: 768px) {
  #projects{
    height: 1000px;
  }
  
  #projectsContainer{
    height: 1000px;
  }
  #projectName {
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
  }
  #number{
    font-size: 20px;
  }
  #linkBtn{
      position: relative;
      top: 10rem;
      left: -13rem;
  }
  .listBox{
      display: grid;
      justify-content: center;
      align-items: center;
  }
  #websiteImg{
      left: 40%;
      top: 45%;
      height: 40px;
      width: 100px;
  }
  #linkBtn{
    left: 15%;
    top: 375%;
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
  #contentContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  #contentContainer.light{
    height: 180px;
  }
}

/* Tablets (Large) */
@media screen and (min-width:800px) and (max-width:950px){
  #linkBtn{
    left: -100%;
  }
}