/* Dark Theme Colours */
:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--BackgroundColour);
}

#homeContainer{
    margin-top: 5.6rem;
    width: 95%;
    height: 800px;
    background-color: black;
}

#mainContainer{
    display: block;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 50%;
    background-color: var(--BackgroundColour);
    overflow: hidden;
}

#nameContainer{
    display: block;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
    font-size: 150px;
    flex-wrap: wrap;
    animation: name 8.5s linear infinite;
}

.surnameText{
    color: var(--SecondaryTextColour);
}

#homeImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: -200px;
    width: 100%;
    height: 100%;
}

.homeImg{
    width: 1200px;
    height: 1180px;
}

#homeTextContainer{
    background-color: transparent;
    color: white;
    width: 370px;
    height: 400px;
    position: relative;
    top: -480px;
    text-align: center;
}

#homeQuote{
    font-size: 55px;
}

.multiple-text{
    color: var(--SecondaryTextColour);
}

#homeSocialsContainer{
    background-color: transparent;
    color: white;
    width: 200px;
    height: 400px;
    position: relative;
    top: -910px;
    left: 980px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 200px;
    height: 100px;
    position: relative;
    top: -920px;
    left: 980px;
}

#downloadBtn{
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 18px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 8px 8px 7px rgba(217, 23, 31, 1);
}


/* Animation for moving name text*/

@keyframes name {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* Media Queries */ 


@media screen and (max-width:768px) and (max-width:1024px){
    #mainContainer{
        display: grid;

    }
    #nameContainer{
        top: 360px;
    }
    
    #homeImgContainer{
        height: 300px;
    }
    
    .homeImg{
        position: relative;
        top: 210px;
        width: 550px;
        height: 550px;
    }
    #homeTextContainer{
       width: 450px;
       height: 150px;
       top: -790px;
    }
    #homeQuote{
        font-size: 45px;
    }
    #homeSocialsContainer{
       top: -750px;
       left: 0px;
       display: flex;
       justify-content: space-around;
       height: 100px;
       width: 450px;
    }
    #btnContainer{
        top: -765px;
        left: 120px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (max-width:1024px){
    #mainContainer{
        display: grid;

    }
    #nameContainer{
        top: 360px;
    }
    
    #homeImgContainer{
        height: 300px;
    }
    
    .homeImg{
        position: relative;
        top: 225px;
        width: 550px;
        height: 550px;
    }
    #homeTextContainer{
       width: 708px;
       height: 150px;
       top: -790px;
    }
    #homeQuote{
        font-size: 50px;
    }
    #homeSocialsContainer{
       top: -720px;
       left: 0px;
       display: flex;
       justify-content: space-around;
       height: 100px;
       width: 708px;
    }
    #btnContainer{
        top: -745px;
        left: 250px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px){
    .homeImg{
        height: 1150px;
        width: 1000px;
    }
    #homeTextContainer{
        left: -30px;
    }
    #homeQuote{
        font-size: 50px;
    }
    #homeSocialsContainer{
        left: 780px;
    }
    #btnContainer{
    left: 780px;
    }
}

@media screen and (min-width:1280px) and (max-width:1440px){
    .homeImg{
        height: 1150px;
        width: 1100px;
    }
    #homeTextContainer{
        left: 20px;
        bottom: 10px;
    }
    #homeQuote{
        font-size: 60px;
    }
    #homeSocialsContainer{
        left: 950px;
    }
    #btnContainer{
    left: 950px;
    }
}


