:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
}

/* Dark Mode */
#home.dark{
    background-color: black;
}

#mainContainer.dark{
    background-color: black;
}

#homeContainer.dark{
    background-color: black;
}

#home.dark{
    #homeContainer{
        #homeTextContainer{
            color: white;
        }
    }
}

/* Light Mode */
#home.light{
    background-color: #E3E6F3;
}

#mainContainer.light{
    background-color: #E3E6F3;
}

#homeContainer.light{
    background-color: #E3E6F3
}

#home.light{
    #homeContainer{
        #mainContainer{
            #nameContainer{
                color: black;
            }
        }
    }
}

#home.light{
    #homeContainer{
        #homeTextContainer{
            color: black;
        }
        #homeSocialsContainer{
            color: black;
        }
        #downloadBtn{
            color: white;
            background-color: black;
        }
    }
}


/* Main CSS */

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
 
}

#homeContainer{
    margin-top: 5.6rem;
    width: 95%;
    height: 650px;
}


#mainContainer{
    display: block;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    left: 50%;
    overflow: hidden;
}

#nameContainer{
    display: block;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    font-size: 150px;
    flex-wrap: wrap;
    animation: name 8.5s linear infinite;
}

.surnameText{
    color: var(--SecondaryTextColour);
}

#homeImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: -205px;
    width: 100%;
    height: 100%;
}

.homeImg{
    width: 1000px;
    height: 920px;
}

#homeTextContainer{
    background-color: transparent;
    color: white;
    width: 370px;
    height: 400px;
    position: relative;
    top: -430px;
    left: 40px;
    text-align: center;
}

#homeQuote{
    font-size: 55px;
}

.multiple-text{
    color: var(--SecondaryTextColour);
}

#homeSocialsContainer{
    background-color: transparent;
    color: white;
    width: 200px;
    height: 350px;
    position: relative;
    top: -870px;
    left: 1150px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.icon{
    height: 40px;
}

#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 200px;
    height: 100px;
    position: relative;
    top: -890px;
    left: 500px;
}

#downloadBtn{
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 18px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgba(217, 23, 31, 1);
}


/* Animation for moving name text*/

@keyframes name {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* Media Queries */ 


@media screen and (max-width:768px) and (max-width:1024px){
    #mainContainer{
        display: grid;

    }
    #nameContainer{
        top: 360px;
    }
    
    #homeImgContainer{
        top: -180px;
        height: 300px;
    }
    
    .homeImg{
        position: relative;
        top: 210px;
        width: 480px;
        height: 400px;
    }
    #homeTextContainer{
       width: 450px;
       height: 150px;
       top: -650px;
       left: 20px;
    }
    #homeQuote{
        font-size: 40px;
    }
    #homeSocialsContainer{
       top: -630px;
       left: 20px;
       display: flex;
       justify-content: space-around;
       height: 100px;
       width: 450px;
    }
    #btnContainer{
        top: -650px;
        left: 140px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (max-width:1024px){
    #mainContainer{
        display: grid;

    }
    #nameContainer{
        top: 360px;
    }
    
    #homeImgContainer{
        height: 300px;
        top: -190px;
    }
    
    .homeImg{
        position: relative;
        top: 225px;
        width: 500px;
        height: 440px;
    }
    #homeTextContainer{
       width: 708px;
       height: 150px;
       top: -650px;
       left: 130px;
    }
    #homeQuote{
        font-size: 45px;
    }
    #homeSocialsContainer{
       top: -670px;
       left: 130px;
       display: flex;
       justify-content: space-around;
       height: 100px;
       width: 708px;
    }
    #btnContainer{
        top: -670px;
        left: 380px;
    }
}

@media screen and (min-width:1024px) and (max-width:1280px){
    .homeImg{
        height: 920px;
        width: 1000px;
    }
    #homeTextContainer{
        left: 15px;
    }
    #homeQuote{
        font-size: 50px;
    }
    #homeSocialsContainer{
        left: 950px;
    }
    #btnContainer{
    left: 950px;
    }
}

@media screen and (min-width:1280px) and (max-width:1440px){
    .homeImg{
        height: 920px;
        width: 1000px;
    }
    #homeImgContainer{
        top: -205px;
    }
    #homeTextContainer{
        top: -440px;
        left: 50px;
        bottom: 10px;
    }
    #homeQuote{
        font-size: 55px;
    }
    #homeSocialsContainer{
        left: 1000px;
    }
    #btnContainer{
    left: 1000px;
    }
}


