/* Dark Theme Colours */
:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: grey;
}

#homeContainer{
    margin-top: 5.6rem;
    width: 95%;
    height: 90vh;
    background-color: black;
}

#mainContainer{
    display: block;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 50%;
    background-color: white;
    overflow: hidden;
}

#nameContainer{
    display: block;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    width: 100%;
    height: auto;
    background-color: lightblue;
    font-size: 85px;
    flex-wrap: wrap;
}

#homeImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: -100px;
    width: 100%;
    height: 100%;
}

.homeImg{
    width: 1200px;
    height: 1160px;
}

#homeTextContainer{
    background-color: lightcoral;
    width: 370px;
    height: 400px;
    position: relative;
    top: -460px;
    text-align: center;
}

#homeQuote{
    font-size: 55px;
}

.quoteRed{
    color: var(--SecondaryTextColour);
}

#homeSocialsContainer{
    background-color: lightcoral;
    width: 200px;
    height: 400px;
    position: relative;
    top: -930px;
    left: 980px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 200px;
    height: 100px;
    position: relative;
    top: -920px;
    left: 980px;
}

#downloadBtn{
    background-color: gray;
    width: 150px;
    height: 60px;
    border-radius: 10px;
}