/* Lght Mode */
#contact.light{
    background-color: #E3E6F3;
}
#contactContainer.light{
    background-color: #E3E6F3;
}
#form.light{
    background-color: rgba(181, 184, 194, 0.8);
    box-shadow: 8px 2px 10px rgba(217, 23, 31, 1);
}
#heading.light{
    color: black;
}
#subheading.light{
    color: black;
}
#icon.light{
    color: black;
}
#socialHeading.light{
    color: black;
}
#socialContainer.light{
    color: black;
}
#inputContainer.light{
    background-color: rgba(149, 149, 163, 0.7);
    box-shadow: black;
    color: black;
}
#sendBtn.light{
    color: black;
    background-color: rgba(131, 131, 143, 0.9);
    box-shadow: 4px 4px 3px rgba(217, 23, 31, 1);
}
#copyright.light{
    color: black;
}
#backToTop.light{
    color: black;
    background-color: rgba(131, 131, 143, 0.9);
    box-shadow: 0 0 3px 4px rgba(217, 23, 31, 1);
}


/* Main CSS*/
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160vh;
    background-color: black;
}

#contactContainer{
    display: flex;
    justify-content: center;
    margin-top: 5.6rem;
    width: 95%;
    height: 145vh;
    background-color: black;
}

.form{
    background-color: rgba(255, 255, 255, 0.05);
}
#form{
    box-shadow: 8px 2px 18px rgba(217, 23, 31, 1);
}

#heading{
    font-size: 70px;
}
#heading2{
    color: #D9171F;
    margin-left: 10px;
}

#subheading{
    font-size: 20px
}

#icon{
    font-size: 18px;
}

#socialHeading{
    font-size: 40px;
}

#sendBtn{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 4px 4px 7px rgba(217, 23, 31, 1);
}

#copyright{
    width: 100%;
    height: 50px;
    color: white;
    background-color: transparent;
}

#backToTop{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(217, 23, 31, 1);
    width: 50px;
    height: 40px;
    border-radius: 12px;
    color: white;
}