:root{
    --BackgroundColour: black;
    --PrimaryTextColour: #FFFFFF;
    --SecondaryTextColour: #D9171F;
    --BoxShadow: 0 2px 4px rgba(217, 23, 31, 1);
}

/* Light Mode */
.header.light{
    background-color: white;
    box-shadow: 0 4px 7px rgba(217, 23, 31, 1);
}

.navItem{
    color: black;
}

.header.light{
    .toggleNavbar.light{
        .icon{
            color: black;
        }
    }
    .navBar{
        background-color: white;
        .navLists{
            color: black;
            .navItem{
                color: black;
                .navLink{
                    color: black;
                }
            }
        }
    }
}

.icon.light{
    color: black;
}
.icon:hover.light{
    color: #D9171F;
}

.theme.light{
    background-color: #d1d1d1;
}


/* Main CSS */

/* Light/Dark Mode Trigger (Icons) */
.theme{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: #181818;
}

.lightIcon{
    position: relative;
    left: 25%;
    font-size: 20px;
    color: gold;
}

.darkIcon{
    position: relative;
    left: 25%;
    font-size: 20px;
    color: rgb(15, 15, 172);
}

/* The NavBar underline */
.navItem {
    position: relative;
  }

  .activeLine {
    width: 50%;
    height: 3px;
    background-color: #D9171F;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
  }
  
  .navItem.selected .activeLine {
    opacity: 1;
  }

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 100%;
    padding: 1rem;
    z-index: 1000;
    background-color: black;
    box-shadow: var(--BoxShadow);

    .logo{
        width: 40px;
        height: 40px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: relative;

        .icon{
            font-size: 25px;
            color: var(--PrimaryTextColour);
            transform: translateY(5px);
        }
    }
 

    @media screen and (max-width: 768px) {
        .navBar{
            position: absolute;
            display: grid;
            justify-content: center;
            background: black;
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: var(--BoxShadow);
            transition: .5s ease-in-out;

            .navLists{
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;

                    .navItem{
                        padding: .5rem 0;

                        .navLink{
                            color: var(--PrimaryTextColour);
                            font-size: .9rem;
                            font-weight: 400;
                            &:hover{
                                color: var(--SecondaryTextColour);
                            }
                        }
                    }
                }
                    .closeNavbar{
                        position: absolute;
                        top: 1rem;
                        right: 1.5rem;
                        color: var(--PrimaryTextColour);
                        &:hover{
                            color: var(--SecondaryTextColour);
                        }
                    }  
            }

            .activeLine {
                bottom: 4px;
                left: 25%;
                transform: translateX(-50%);
              }

        .activeNavbar{
            top: 7rem;
        }

    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
            color: var(--PrimaryTextColour);
        }
        &:hover.icon{
            color: var(--SecondaryTextColour);
        }
    }
} 

/* Media Queries */
@media screen and (min-width: 769px){
    .toggleNavbar, 
    .closeNavbar{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;

        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .navItem{
                    .navLink{
                        color: var(--PrimaryTextColour);
                        padding: 0 0.45rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:hover{
                            color: var(--SecondaryTextColour);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px){
    .header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 0.7rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1240px){
    .header{
        padding: 1rem 2.5rem;
    }
}

@media screen and (max-width:320px){
    .header{
        max-width: 100%;
    }
}

@media screen and (max-width:375px){
    .header{
        max-width: 100%;
    }
}

@media screen and (max-width:425px){
    .header{
        max-width: 100%;
    }
}

@media screen and (max-width:768px){
    .header{
        max-width: 100%;
    }
}

@media screen and (max-width:1024px){
    .header{
        max-width: 100%;
    }
}

/* XL Screens */
@media screen and (min-width:2480px){
    .header{
        max-width: 100%;
        padding: 1rem 25rem;
    }
    .logo{
        left: -700%;
    }
}