/* Light Mode */

#education.light{
    background-color: #E3E6F3;
}
#educationandexperienceContainer.light{
    background-color: #E3E6F3;
}
#educationHeading.light{
    color: black;
}
#scrollBar.light{
    background-color: black;
}
#educationText.light{
    color: black;
}

/* Main CSS */

#education{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1500px;
    background-color: black;
}

#education.dark{
    background-color: black;
}

#educationandexperienceContainer{
    width: 95%;
    height: 1300px;
    background-color: black;
    color: white;
    overflow: hidden;
}

/* Media Queries */

@media screen and (max-width:768px){
    #educationandexperience{
        height: 2300px;
    }
    #educationandexperienceContainer{
        height: 2200px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    #educationandexperience{
        height: 1700px;
    }
    #educationandexperienceContainer{
        height: 1400px;
    }
}


@media screen and (min-width:1024px) and (max-width:1600px){
    #educationandexperience{
      height: 1050px;
    }
    #educationandexperienceContainer{
      height: 1200px;
    }
}