#educationandexperience{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    background-color: grey;
}

#educationandexperienceContainer{
    margin-top: 5.6rem;
    width: 95%;
    height: 120vh;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width:600px){
    #educationandexperience{
        height: 220vh;
    }
    
    #educationandexperienceContainer{
        height: 220vh;
    }
}