/* Light Mode */
#footer.light{
    background-color: #E3E6F3;
    color: black;
}

#footerContainer.light{
    background-color: #E3E6F3;
    color: black;
}

#copyrightBtn.light{
    background-color: rgba(131, 131, 143, 0.9);
    box-shadow: 4px 4px 3px rgba(217, 23, 31, 1);
    color: black;
}

/* Main CSS */
#footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerContainer{
    background-color: black;
    color: white;
}

#copyrightBtn{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(217, 23, 31, 1);
}