/* Light Mode */
#footer.light{
    background-color: white;
    color: black;
    font-weight: 600;
}

#footerContainer.light{
    background-color: white;
    color: black;
    font-weight: 600;
}

#copyrightBtn.light{
    background-color: #cfcfcf;
    box-shadow: 1px 1px 1px 1px rgba(217, 23, 31, 1);
    color: black;
}

/* Main CSS */
#footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerContainer{
    background-color: black;
    color: white;
}

#copyrightBtn{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(217, 23, 31, 1);
}