/* Light Mode  */
#blog.light{
    background-color: white;
}
#blogContainer.light{
    background-color: white;
}
.blogPostContainer.light{
    background-color: white;
}
.postContainer.light{
    background-color: #cfcfcf;
}


/* Main CSS */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 1000px;
    background-color: black;
}

#blogContainer{
    margin-top: 5.6rem;
    width: 95%;
    max-width: 100%;
    height: 900px;
    background-color: black;
}

/* Blog Header Image and Text */
.blogImage{
    width: 100%;
    height: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../../assets/BlogHeader.png);
    background-color: lightcoral;
    background-size: cover; 
    background-position: center center;
    color: white;
    overflow: hidden;
}

.blogHeading{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 20px;
}

/* Blog Post Containers */
.blogPostContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.postContainer{
    position: relative;
    background-color: white;
    .postHeading{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    .postText{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 21px;
        line-height: 25px;
    }
    .readMore{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 55px;
        position: relative;
        left: 100px;
        color: var(--PrimaryTextColour);
        background-color: var(--BackgroundColour);
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
    }
}

/* Expanded Blog Post Container Content */
.expandedHeading{
    font-size: 40px;
    font-weight: 600;
}

/* Media Queries */

/* Mobile View */
@media screen and (max-width:428px){
    #blog{
        max-width: 100%;
        margin-top: -5px;
    }
    .blogHeading{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 130px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        padding: 0px 20px;
    }
}

/* Laptop View */
@media screen and (max-width:1024px){
    #blog{
        height: 1000px;
    }
    #blogContainer{
        height: 900px;
    }
}

/* Tablet View */
@media screen and (max-width:768px){
    #blog{
        height: 2000px;
    }
    #blogContainer{
        height: 2000px;
    }
}
@media screen and (min-width:768px){
    #blog{
        height: 1000px;
    }
    #blogContainer{
        height: 900px;
    }
}

@media screen and (max-width:768px){
    .postContainer{
        .postHeading{
            line-height: 30px;
        }
    }
}

/* Large Desktop Screens  */

@media screen and (min-width:2460px){
    #blog{
        max-width: 100%;
        height: 1300px;
    }
    #blogContainer{
        max-width: 100%;
        height: 1150px;
    }
}