/* Light Mode  */
#blog.light{
    background-color: white;
}
#blogContainer.light{
    background-color: white;
}
.blogPostContainer.light{
    background-color: white;
}
.postContainer.light{
    background-color: #cfcfcf;
}


/* Main CSS */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background-color: black;
}

#blogContainer{
    margin-top: 5.6rem;
    width: 95%;
    height: 900px;
    background-color: black;
}

.blogImage{
    width: 100%;
    height: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../../assets/BlogHeader.png);
    background-color: lightcoral;
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    color: white; /* Text color for the heading */
    overflow: hidden;
}

.blogHeading{
    position: absolute;
    top: 50%; /* Vertically center the heading */
    left: 50%; /* Horizontally center the heading */
    transform: translate(-50%, -50%); /* Centering trick */
    font-size: 160px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background for the heading */
    padding: 0px 20px;
}

.blogPostContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.postContainer{
    position: relative;
    background-color: white;
    .postHeading{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    .postText{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 21px;
    }
    .readMore{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 55px;
        position: relative;
        left: 100px;
        color: var(--PrimaryTextColour);
        background-color: var(--BackgroundColour);
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
    }
}

.expandedHeading{
    font-size: 40px;
    font-weight: 600;
}

/* Media Queries */

@media screen and (max-width:1024px){
    #blog{
        height: 1000px;
    }
    #blogContainer{
        height: 900px;
    }
}

@media screen and (max-width:768px){
    #blog{
        height: 2000px;
    }
    #blogContainer{
        height: 2000px;
    }
}